html {
	background-color: #000000;
}

head > title {
	color: #FFFFFF;
}

body {
	background-color: #000000;
	color: #FFFFFF;
}

.pageHead {
	background-color: green;
}

.pageBody {
	height: calc(100%);
}

.title
{
	background-color: magenta;
}

.hub
{
	background-color: blue;
	height:  calc(100%);
	left: calc(15%);
}

.title-block {
	background-color: grey;
	height:  calc(100%);
}

.content-block {
	background-color: orange;
	height:  calc(100%);
}

.img-block
{
	background-color: red;
}

